.btn.btn-primary{
margin-left: 80%;
width: 150px;
height: 100px;
}
.img-fluid{
    width: 150%;
}

.date{
    padding-left: 70%;
}
.col-lg-8{
    background-color : white;
    margin-bottom: 3%
}
h1{
    color: #0C2C4B;
}
.font-weight-bold {
    padding-top: 3%;
}
.auteur{
    padding-left: 80%;
}