table{
   
    margin-top:2%;
    margin-left: 20%;
    margin-right: 2%;
 
    width: 60%;
    
}
button{
margin-left:40% ;
margin-bottom: 3%;
}
h3{
    text-align: center!important; 
    margin-top: 2%;
}
.text-center {
    text-align: left !important; 
}
.res1{
    height:100px;
    background-color: green;
    
}
.res2{
    height:100px;
    background-color: orange;
    
}
.res3{
    height:100px;
    background-color: red;
    
}